body{
    font: 16px/20px Arial,sans-serif;
    margin: 0;
    background: white;
    color: black;
}
#wrap{
    padding: 30px;
    margin: 0 auto;
    width: 1000px;
    background-color: lightyellow;
}
#product-box{
    width: 400px;
    border: 1px solid orangered;
    text-align: center;
    padding-bottom: 10px;
}
.product-img{
    width: 200px;
    height: 300px;
}
#order-form{
    display: none;
}
