body{
    font: 16px/20px Arial,sans-serif;
    margin: 0;
    background: white;
    color: black;
}
.wrap{
    padding: 30px;
    margin: 0 auto;
    width: 1000px;
    background-color: lightyellow;
}

.btn1{
    display: inline-block;
    text-decoration: none;
    padding: 15px;;
    background-color: cornflowerblue;
    color: black;
    font-size: 20px;
    line-height: 24px;
    width: 100px;
    border: 1px solid darkblue;
    border-radius: 5px;
}